body{
  font-family: sans-serif   /*font style of body*/
}

li{
  display: inline;    /*to make options in navigation bar inline*/
  padding-right: 20px;    /*space between options in navigation bar*/
  text-align: right;    /*options in navigation bar aligned to the right side*/
}

ul a{
  text-decoration: none;    /*navigation bar options properties*/
  color: white;
    
}

ul a:hover{
  text-decoration: underline;   /*hovering effect in navigation bar*/
  color: red;
}

ul{
  text-align: right;   /*navigation bar options brought to the right side*/
}

h1{
  color: gray;
  font-size: 40px;          /*title properties*/
  font-family: Georgia;
  font-style: italic;
}

form{
  text-align: right;    /*search box aligned to right*/
}

nav{
  background-color: #00ace4;    /*navigation bar colour*/
}

.hero_image{
  background-image: url("class2.jpg");
  height: 75%;
  width: 100%;          /*hero image properties and position*/
  top: -20px;
  position: relative;
}

.hero_content p{
  font-family: Arial;
  font-style: italic;
  color: brown;           /*properties and positioning of text on hero image*/
  font-size: 40px;
  margin-left: 40px;
  position: relative;
  top: 50px;
}

img {               /*size of images in grid*/
  width: 320px;
  height: 200px;
}

footer{
  color: blue;
  background-color: burlywood;    /*footer properties*/
  height:200px;
}

.address{
  float: left;            /*address class alignment*/
  margin-left: 200px;
}

aside{
  margin-left: 800px;   /*contact information alignment*/
}

.follow h1{
  color: black;
  text-align: center;     /*about us text alignment and properties*/
  font-style: normal;
  font-size: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;          /*icon symbols properties*/
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.icons{                   /*icons alignment*/
  margin-top: -10px;
  margin-left: 490px;
}

.fa:hover {
  opacity: 0.7;         /*hovering effect on icons*/
}

.fa-facebook {
  background: #3B5998;    /*facebook icon properties*/
  color: white;
}

.fa-twitter {
  background: #55ACEE;    /*twitter icon properties*/
  color: white;
}

.fa-linkedin {
  background: #007bb5;    /*linkedin icon properties*/
  color: white;
}